<h2>EMBER DATA TEST</h2>

<div>
    <h3>JUST A CONSOLE LOG</h3>
    <button {{action "simpleTest"}}>SIMPLE TEST</button>
</div>

<div>
    <h3>STORING DATA</h3>
    <button {{action "runDemo"}}>RUN DEMO</button>
</div>


{{outlet}}
