<header>
    <nav>
        {{#link-to "index"}}HOME{{/link-to}}
        {{#link-to "blog"}}BLOG{{/link-to}}
    </nav>
    <hr />
</header>

<main>{{outlet}}</main>

<footer>
    <hr />
    Footer
</footer>